<?xml version="1.0"?>
<!-- 
/**
 * O2TI Fixed Pagarme.
 *
 * Copyright © 2024 O2TI. All rights reserved.
 *
 * @author    Bruno Elisei <brunoelisei@o2ti.com>
 * @license   See LICENSE for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="O2TI_FixedPagarme" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Checkout"/>
            <module name="Pagarme_Pagarme"/>
        </sequence>
    </module>
</config>